<!DOCTYPE html>
<html lang="fr">
<head>
    <title>API MYSQL</title>
    <style>
        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }

        h1, h2 {
            color: white;
            font-size: 120px;
            text-align: center;
        }

        h2 {
            font-size: 80px;
        }
    </style>
</head>
<body>
<div style="display: flex; flex-direction: column">
    <h1>{{project_name}}</h1>
    <h2>{{message}}</h2>
</div>

</body>
</html>